* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: rgb(4, 224, 41);
}

.text-primary {
  color: var(--primary-color);
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

