* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jura', sans-serif;
}

.home {
  width: 44.7rem;
  height: 62.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid #0720FD;
}

p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.8rem;
  padding-inline: 4rem;
}

h1, p, .botoes {
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 17rem;
  height: 5rem;
  border-radius: 8rem;
  border: 1px solid #00856F;
  color: #00856F;  
  cursor: pointer;
  background-color: #fff;
}

button:hover { 
  color: #fff;  
  background-color: #00856F;
}

button:first-child {
  border: 1px solid #8D0000;
  color: #8D0000;  
  background-color: #fff;
}


button:first-child:hover {
  background-color: #8D0000;
  color: #fff;
}

.rodape {
  font-weight: 400;
  font-size: 1.4rem;
}
